{% extends 'base.html.twig' %}

{% block title %}Show post new!{% endblock %}

{% block body %}

    <div class="container" style="text-align: center;">

        <div class="alert alert-light " role="alert">
            <h1 class="alert-heading">{{ post.title }} </h1>
            <p>{{ post.post }}  <hr>
            <p class="mb-0">  <i>created at {{ post.createdAt|date }}</i></p>
            <b> <a href="{{ path('deletePost', {'post' : post.id }) }}" class="btn btn-link "> Delete post now   </a></b>
            <b> <a href="{{ path('updatePost', {'post' : post.id }) }}" class="btn btn-link "> Update post now   </a></b>
        </div>


        <div class="nav">
            <a href="{{ path('show') }}" class="btn btn-light">  <b> Back to all news </b> </a>
        </div>
    </div>

{% endblock %}
